@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="pagesDropdown" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user me-1 text-gray fw-normal"></i>Hello @User.Identity.GetUserName()!</a>
                <div class="dropdown-menu mt-3 shadow-sm" aria-labelledby="pagesDropdown">
                    <a class="dropdown-item border-0 transition-link" href="@Url.Action("Index", "Manage", routeValues: null)" title="Manage">Manage Account</a>
                    @*<a class="dropdown-item border-0 transition-link" href="detail.html">Price</a>*@
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="dropdown-item border-0 transition-link" href="@Url.Action("Index", "RolesAdmin")">Roles Admin</a>
                        <a class="dropdown-item border-0 transition-link" href="@Url.Action("Index", "UsersAdmin")">User Admin</a>
                    }
                    <a class="dropdown-item border-0 transition-link" style="color:#dcb14a;" href="javascript:document.getElementById('logoutForm').submit()">Log Off</a>
                </div>
            </li>
        </ul>
    }
}

else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@

        <li>
            <a class="nav-link" href="@Url.Action("Register", "Account")"><i class="fas fa-user me-1 text-gray fw-normal"></i>Register</a>
        </li>
        <li>
            <a class="nav-link" href="@Url.Action("Login", "Account")"><i class="fas fa-user me-1 text-gray fw-normal"></i>Login</a>
        </li>
    </ul>
}

