@model StoreFront.DATA.EF.Product


@{
    ViewBag.Title =" Details";
}

<section class="py-5 bg-light">
    <div class="container">
        <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
            <div class="col-lg-6">
                <h1 class="h2 text-uppercase mb-0">@ViewBag.Title</h1>
            </div>
            <div class="col-lg-6 text-lg-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-lg-end mb-0 px-0 bg-light">
                        <li class="breadcrumb-item"><a class="text-dark" href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="breadcrumb-item"><a class="text-dark" href="@Url.Action("Index", "Products")">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Model.ProductName</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<div>
    @Html.DisplayFor(model => model.ProductName)
</div>

<p>
    <img src="~/Content/img/product-detail-1.jpg"
         alt="@Model.ProductName" />
</p>
<p>
    <strong> @Html.DisplayNameFor(model => model.Category):</strong>
    @Html.DisplayFor(Model => Model.Category.CategoryName)
</p>
@if (User.IsInRole("Admin"))
{
    @*<p>
            <strong>@Html.DisplayNameFor(model => model.UnitsSold)</strong>
            @Html.DisplayFor(model => model.UnitsSold)
        </p>
        <p>
            <strong> @Html.DisplayNameFor(model => model.BookRoyalty.RoyaltyRate)</strong>
            @Html.DisplayFor(model => model.BookRoyalty.RoyaltyRate)
        </p>*@
}


<p class="text-right">
    <strong>@Html.DisplayNameFor(model => model.Price):</strong>
    @Html.DisplayFor(model => model.Price)
</p>
<p><strong>@Html.DisplayNameFor(model => model.Description):</strong></p>
<p>@Html.DisplayFor(model => model.Description)</p>



@if (User.IsInRole("Admin"))
{
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID })
}


@Html.ActionLink("Back to Products", "Index", null, new { @class = "btn btn-secondary" })


